/* 480px-320px */
@media (max-width: 481px) {

    /* header */
    header {
        padding-inline: 20px;
    }

    .header_button_box {
        column-gap: 16px;
    }

    /* index_section1 */
    .index_section1 {
        padding-bottom: 416px;
    }

    .index_section1_div {
        column-gap: 16px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }

    /* index_section2 */
    .index_section2 {
        padding-left: 20px;
        padding-block: 32px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    /* footer */
    footer {
        flex-direction: column;
        row-gap: 40px;
        padding-block: 32px;
        align-items: center;
    }

    .footer_div {
        align-items: center;
    }

    .footer_title::after {
        margin: auto;
    }

    /* catalog_page */
    .catalog_section {
        padding: 32px 20px;
    }

    .filter_delete {
        display: none;
    }

    .delete_button_text {
        display: none;
    }

    .sort_button {
        width: 36px;
        height: 32px;
    }

    .mobile_delete {
        display: none;
    }

    .page_turn {
        column-gap: 45px;
    }

    .previous,
    .next {
        width: 52px;
        height: 40px;
    }

    /* contact_page */
    .contact_section {
        padding: 32px calc(20 / 480 * 100%);
    }

    .contact_sub_section1 {
        justify-content: center;
        column-gap: 24px;
    }

    .contact_info {
        display: none;
    }

    .contact1 {
        flex-direction: row;
        column-gap: 24px;
    }

    .fa-location-dot {
        font-size: 24px;
    }

    .contact_sub_section2 {
        flex-direction: column;
        row-gap: 40px;
    }

    .contact_sub_section2 form {
        width: 100%;
    }

    .map_article {
        width: 100%;
    }

    .map_article_nav {
        justify-content: center;
    }
}

@media (max-width: 321px) {

    /* header */
    header {
        padding-inline: 8px;
    }

    /* index_section1 */
    .index_section1 {
        padding-bottom: 256px;
    }

    /* index_section2 */

    .index_section2 {
        padding-left: 8px;
    }

    /* catalog_page */
    .catalog_section {
        padding-inline: 8px;
    }

    /* contact_page */
    .contact_section {
        padding-inline: calc(8 / 320 * 100%);
    }
}