:root {
    --accent-bg-color: #2C4246;
    --color-blue: #05BCCA;
    --color-orange: #C46A2B;
    --color-offwhite: #D9D9D9;
    --p-font-size: 16px; 
    --h2-font-size: 36px;
    --h3-font-size: 32px;
    --h4-font-size: 24px;
}